.navbar{
	background: #00BCD4;
	padding: 10px 10px;

	.navbar-brand{
		font-size: 30px;
		color: #fff;
	}

	ul{
		li{
			a{
				color: #fff;
				font-size: 16px;

					&:hover{
					color:#fff;
					background: none;
				}
			}	
		}
	}
}
/*=======HERO========*/

#hero{
	background: url(img/about.jpg) no-repeat center center;
	background-size: cover;
	padding-top:50px;
	padding: 445px 0;

	.typed-cursor{
		display: none;
	}

	h2{
		font-size:40px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #00bcd4;
	}

	p{
		font-size: 17px;
		color: #00bcd4
	}

	.btn {
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
       	box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
		color: #00bcd4;
		margin: 0 10px;
		padding: 10px 20px;
		text-transform: uppercase;
	}

	.btn:hover {
		box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
		text-decoration: none;
		color: #00bcd4;
	}
}

/*======ABOUT========*/
#about{
	padding-bottom: 50px;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	h3{
		font-weight: bold;
		letter-spacing: 1px;
		margin-top: 0;
	}

	p{
		font-size: 14px;
		line-height: 21px;
		font-family: 'Neuton', serif;
		letter-spacing: 1px;
	}

	.btn {
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
       	box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
		color: #00bcd4;
		margin-top:18px;
		padding: 10px 20px;
		text-transform: uppercase;
	}

	.btn:hover {
		box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
		text-decoration: none;
		background: #00bcd4;
		color: #fff;
	}
}

/*=======SERVICES=======*/

#services{
	padding-bottom: 40px;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	.single-services{
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
		margin-top:18px;
		padding: 60px 20px;

		&:hover{
			box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
			i{
				color: #00bcd4;
			}
		}

			i{
				font-size: 40px;
			}
		h4{
			font-size: 22px;
			font-weight: bold;
			letter-spacing: 2px;
		}

		p{
			font-size: 15px;
			font-family: 'Neuton', serif;
		}

	}
}

/*========TEAM========*/

#team{
	padding-bottom: 40px;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	.member{
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
		margin-top:18px;
		padding: 50px 30px;

		&:hover{
			box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
			.btn{
				background: #00bcd4;
				color: #fff;
			}
		}

		.btn{
			font-size: 15px;
			padding-left: 10px;
			color: #00bcd4;
			border:1px solid #00bcd4;
			border-radius:50%;
			padding:3px 4px;
			margin: 10px 5px; 
		}

		img{
			height: 130px;
			margin-left: 85px;
			margin-bottom: 20px;
		}

		h4{
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 2px;
		}

		h6{
			font-size: 16px;
			font-weight: 500;
		}

		p{
			font-size: 16px;
			font-family: 'Neuton', serif;
		}
	}
}

/*========WORKS=========*/

#works{
	padding-bottom: 40px;
	width: 100%;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	.filters{
	margin-left: -35px;
		ul{
			padding-bottom: 35px;
			li{
				list-style: none;
				float: left;

				background: #fff;
				transition: all 0.4s;
				font-size: 14px;
		        border-radius: 3px;
		       	box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
				color: #00bcd4;
				margin: 0 10px;
				padding: 7px 20px;
				text-transform: uppercase;

				&:hover {
					box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
					text-decoration: none;
					color:#fff ;
					background: #00bcd4;
					cursor: pointer;
			}	}
		}	
	}
	.items{
		img{
			padding: 15px 0;
		}
	}

	#container{
		.mix{
			display: none;
		}
	}
}

/*========TESTIMONIAL========*/


#testimonial{
	padding-bottom: 40px;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}


	.slider{
		box-shadow:1px 0.2px 30px 0.2px rgba(0, 0, 0, 0.15);
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
	    border-radius: 3px;
		margin-top:18px;
		margin-left:-15px;
		padding:20px 50px;

		.owl-page{
			display: none;
		}

		h6{
			font-size: 17px;
			font-weight: bold;
		}

		p{
			font-family:'Neuton', serif; ;
		}


		img{
			height: 130px;
			margin-left: 466px;
			margin-bottom: 20px;
		}
	}

	.client-img{
		margin-top:25px;
		border:1px solid rgba(0,0,0,0.3);
		padding: 15px 10px;

		img{
			margin-left: 30px;
			&:hover{
				opacity:0.3;
				cursor: pointer;
			}
		}
	}
}

/*=======PRICING========*/

#pricing{
	padding-bottom: 40px;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	.price{

		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
		margin-top:18px;
		padding: 50px 30px;
		box-shadow:1px 0.2px 30px 0.2px rgba(0, 0, 0, 0.15);

		&:hover{
			box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);

			h4{

				color: #00bcd4;	
			}
			.btn{
				background: #00bcd4;
				color: #fff;
			}
		}

		.btn{

			background: #fff;
			transition: all 0.4s;
			font-size: 14px;
			font-weight: bold;
	        border-radius: 3px;
	       	box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
			color: #00bcd4;
			margin: 10px 10px;
			padding: 7px 15px;
			text-transform: uppercase;
		}

		h3{
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 1.5px;
		}

		h4{
			font-size: 40px;
			font-weight: 500;
			font-family:'Neuton', serif; ;
			margin-bottom: 0;
		}

		h6{
			font-size: 15px;
			margin-top: -10px;
			font-family:'Neuton', serif; ;
			padding-bottom: 20px;
			
		}
		ul{
			li{
				font-family:'Neuton', serif;
				list-style: none;
				padding: 10px 40px;
			}

			hr{
				margin-top: 0;
				margin-bottom: 0;
				border:0.5px dotted rgba(0, 0, 0, 0.1); 
			}
		}
	}
}

/*=======BLOG======*/

#blog{
	padding-bottom: 40px;
	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	.blog-img{
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
		margin-top:18px;
		padding: 50px 30px;
		box-shadow:1px 0.2px 30px 0.2px rgba(0, 0, 0, 0.15);

		&:hover{
			box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);

			h4{

				color: #00bcd4;	
			}
			.btn{
				background: #00bcd4;
				color: #fff;
			}
		}
		h4{
			font-size: 23px;
			font-weight: 600;
			letter-spacing: 2px;
		}

		h5{
			font-size: 13px;
			font-weight: 600;
		}

		p{
			font-size: 15px;
			font-family:'Neuton', serif;
		}

		.btn{
			background: #fff;
			transition: all 0.4s;
			font-size: 14px;
			font-weight: bold;
	        border-radius: 3px;
	       	box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
			color: #00bcd4;
			margin: 10px 10px;
			padding: 7px 15px;
			text-transform: uppercase;

			&:hover{
				background: #00bcd4;
				color: #fff;
			}
		}
	}
}

/*=======CONTACT=========*/

#contact{
	padding-bottom: 40px;
	.map{
		padding-bottom: 30px;
	}

	h2{
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 35px;
		font-weight: bold;
		span{
			color:#00bcd4; 
		}
	}

	.address-contact{
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
		margin-top:18px;
		padding: 68px 35px;
		box-shadow:1px 0.2px 30px 0.2px rgba(0, 0, 0, 0.15);

	/*	&:hover{
			box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
		}*/
		i{
			font-size: 24px;
			color: #00bcd4;
		}
		p{
			font-size:17px;
			padding:12px 0;
		}
	}

	.message-contact{
		background: #fff;
		transition: all 0.4s;
		font-size: 16px;
        border-radius: 3px;
		margin-top:18px;
		padding: 50px 35px;
		box-shadow:1px 0.2px 30px 0.2px rgba(0, 0, 0, 0.15);

	

		.btn{

			background: #fff;
			transition: all 0.4s;
			font-size: 14px;
			font-weight: bold;
	        border-radius: 3px;
	       	box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
			color: #00bcd4;
			margin: 0 10px;
			padding: 7px 20px;
			text-transform: uppercase;

			&:hover {
				box-shadow: 0 7px 10px 0.5px rgba(0, 0, 0, 0.24);
				text-decoration: none;
				color:#fff ;
				background: #00bcd4;
				cursor: pointer;
			}
/*			font-size: 14px;
			font-weight: bold;
			color:#00bcd4;
			text-transform: uppercase;


			&:hover{

			
				background:#00bcd4;
				color: #fff;
				border-color: #00bcd4;
			}*/
		}
	}
}

/*========footer========*/

#footer{
	padding-bottom: 10px;
	h2{
	
		text-align: center;
		padding: 60px 1px 50px 1px;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 40px;
		font-weight: bold;
		
	}

	.icons{
		.btn{
			font-size: 22px;
			padding-left: 10px;
			background: #00bcd4;
			color: #fff;
			border-color: #00bcd4;
			border-radius:50%;
			padding:4px 6px;
			margin: 10px 5px; 
		}
	}

	span{

	}
}